In [1]:
import pandas as pd

In [12]:
s = range(1,101)

In [40]:
def fizzbuzz(n):
    for x in range(1,n+1):
        if x % 15 == 0:
            print 'fizzbuzz'
        elif x % 3 == 0:
            print 'fizz'
        elif x % 5 == 0:
            print 'buzz'
        else:
            print x
            
n = int(raw_input("Enter a number:"))

fizzbuzz(n)

Enter a number:10
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz

In [22]:
def fizzbuzz_1(x):
    if x % 3 == 0 and x % 5 == 0:
        return "fizzbuzz"
    elif x % 5 == 0:
        return "fizz"
    elif x % 3 == 0:
        return "buzz"       
    else: return x

In [44]:
df = pd.DataFrame({'nums' : s})
df.head()

   nums
0     1
1     2
2     3
3     4
4     5

In [45]:
df.applymap(fizzbuzz_1).head()

   nums
0     1
1     2
2  buzz
3     4
4  fizz

In [46]:
y = df.nums.apply(fizzbuzz_1)
y.head()

0       1
1       2
2    buzz
3       4
4    fizz
Name: nums, dtype: object

In [42]:
df

    nums  nuw_nums
0      1         1
1      2         2
2      3      buzz
3      4         4
4      5      fizz
5      6      buzz
6      7         7
7      8         8
8      9      buzz
9     10      fizz
10    11        11
11    12      buzz
12    13        13
13    14        14
14    15  fizzbuzz
15    16        16
16    17        17
17    18      buzz
18    19        19
19    20      fizz
20    21      buzz
21    22        22
22    23        23
23    24      buzz
24    25      fizz
25    26        26
26    27      buzz
27    28        28
28    29        29
29    30  fizzbuzz
..   ...       ...
70    71        71
71    72      buzz
72    73        73
73    74        74
74    75  fizzbuzz
75    76        76
76    77        77
77    78      buzz
78    79        79
79    80      fizz
80    81      buzz
81    82        82
82    83        83
83    84      buzz
84    85      fizz
85    86        86
86    87      buzz
87    88        88
88    89        89
89    90  fizzbuzz
90    91        91
91    92        92
92    93      buzz
93    94        94
94    95      fizz
95    96      buzz
96    97        97
97    98        98
98    99      buzz
99   100      fizz

[100 rows x 2 columns]