# Project 4: Web Scraping Indeed.com & Predicting Salaries

In Project 4, we practice two major skills: collecting data via  web scraping and building a binary predictor with Logistic Regression.

We will collect salary information on data science jobs in a variety of markets. Using location, title, and job summary, we'll predict the salary of the job. For job posting sites, this is extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), extrapolating expected salary can help guide negotiations.

Normally, we can use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Q: Why would we want this to be a classification problem?
- A: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Section one focuses on scraping Indeed.com; then we use listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

Scrape job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries. First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract.

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

The URL here has many query parameters

- `q` for the job search
- This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
- `l` for a location 
- `start` for what result number to start on

In [28]:
URL = "http://www.indeed.com/jobs?q=data+scientist&l=Atlanta%2C+GA"

In [29]:
import requests
import bs4
from bs4 import BeautifulSoup

In [34]:
# read site in soup
r = requests.get(URL)
soup = BeautifulSoup(r.content, "lxml")

# Append to the full set of results
results = soup.findAll('div', { "class" : "result" })
#results
#results[1]

Let's look at one result more closely. A single `result` looks like

```
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=2480d203f7e97210&amp;jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some of the more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a `nobr` element inside of a `td` element with `class='snip`.
- The title of a job is in a link with class set to `jobtitle` and a `data-tn-element="jobTitle`.  
- The location is set in a `span` with `class='location'`. 
- The company is set in a `span` with `class='company'`.

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```

- Make sure these functions are robust and can handle cases where the data/field may not be available
- Test the functions on the results above

In [35]:
# get text
def extract_text(el):
    if el:
        return el.text.strip()
    else:
        return ''
        
# company
def get_company_from_result(result):
    return extract_text(result.find('span', {'class' : 'company'}))

# location
def get_location_from_result(result):
    return extract_text(result.find('span', {'class' : 'location'}))



# summary
def get_summary_from_result(result):
    return extract_text(result.find('span', {'class' : 'summary'}))



# title
def get_title_from_result(result):
    return extract_text(result.find('a', {'data-tn-element' : 'jobTitle'}))



# get salary if exists
def get_salary_from_result(result):
    salary_table = result.find('td', {'class' : 'snip'})
    if salary_table:
        snip = salary_table.find('nobr')
        if snip:
            return snip.text.strip()   
    return None

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results: the `l=New+York` and the `start=10`. The first controls the location of the results (so we can try different city). The second controls where in the results to start and gives 10 results (so we can keep incrementing this by 10 to move further within the list).

#### Complete the following code to collect results from multiple cities and start points. 
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [36]:
# specify city
YOUR_CITY = ['Atlanta','Newark','Dallas','New+York','Houston', 'Boston','Connecticut',"San+Francisco",'Seattle','Cleveland','Tampa','Miami']
import pandas as pd

In [37]:
#create template URL and max number of results (pages) to pull
# url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
# df =pd.DataFrame()
# # for loop to pull data with bs4
# for city in YOUR_CITY :
#     for start in range(1,500,10):
#         r = requests.get(url_template.format(city,start))
#         # Grab the results from the request (as above)
#         soup = BeautifulSoup(r.content)
#         # Append to the full set of results
#         results += soup.findAll('div', { "class" : "result" })
# #a = get_location_from_result(results) 
# for element in  range(len(results)):
#     company = get_company_from_result(results[element])
#     location =get_location_from_result(results[element])
#     summary=get_summary_from_result(results[element])
#     title=get_title_from_result(results[element])
#     salary=get_salary_from_result(results[element])
# #     df = df.append({"Location":location,"Summary":summary,"Title":title,"Salary":salary},ignore_index = True)
#     df = df.append({"Company":company,"Location":location,"Title":title,"Salary":salary,"Summary":summary},ignore_index = True)
# df

,Company,Location,Salary,Summary,Title
0,Cotiviti,"Atlanta, GA",None,This is a pioneering data scientist who will p...,Data Scientist
1,Cox Automotive,"Atlanta, GA",None,Interprets problems and develops solutions to ...,Data Scientist
2,Honeywell,"Atlanta, GA",None,Support and mentor data scientists. Minimum of...,"Principal Data Scientist - Atlanta, GA"
3,FraudScope,"Atlanta, GA",None,Experience with healthcare-related data and fa...,Data Scientist
4,"Vision3 Solutions, Inc","Atlanta, GA",$90 an hour,Data Scientist- Big Data*. May write code to a...,Data Scientist- Big Data
5,"eTek IT Services, Inc.","Atlanta, GA",$67 an hour,Interacts with data scientists and industry ex...,Big Data Engineer
6,Infor,"Atlanta, GA",None,Senior Data Scientist. Working closely with Pr...,Sr. Data Scientist
7,Google,"Atlanta, GA",None,The Google Cloud training team already develop...,"Cloud Instructor (Big Data, Machine Learning),..."
8,IgnitionOne,"Atlanta, GA",None,Have experience with predictive modelling / da...,Data Scientist
9,Macy's,"Atlanta, GA",None,"Uses analytical rigor and statistical methods,...",Data Scientist
10,Pivotal Software,"Atlanta, GA",None,If you bring a deep focus and passion for a pa...,Sr. Data Scientist
11,AT&T,"Alpharetta, GA",None,Perform data studies and data discovery around...,AT&T Professional Data Scientist Alpharetta GA
12,Centers for Disease Control and Prevention,"Atlanta, GA","$88,305 - $114,802 a year",Whether we are protecting the American people ...,Statistician (Health)
13,MobileDev Power,"Atlanta, GA 30305",None,"Authoritative quantitative analysis skills, pa...",Data Scientist With Predictive Modeling
14,Predictive Science,United States,None,This is a freelance data scientist position wh...,Data Scientist
15,MobileDev Power,"Atlanta, GA 30305",None,Build scalable predictive models based on data...,Data Scientist With Predictive Modeling
16,Cox Automotive,"Atlanta, GA",None,Description Cox Automotive is hiring a Data Sc...,Data Scientist
17,Home Depot,"Atlanta, GA 30354",None,Strong communication and data presentation ski...,DATA SCIENTIST
18,ICF,"Atlanta, GA",None,Evaluate data errors and work to resolve data ...,Scientific Data Analyst
19,Ashton212,"Atlanta, GA",None,The Important Stuff A leader in the payments i...,Quantitative Analyst | #769
20,Honeywell,"Atlanta, GA",None,"Advanced analytics/modelling projects, includi...",Analytics DevOps Engineer
21,GE Power,"Atlanta, GA",None,Ability to create and understand data models. ...,IT Project Manager – Sourcing BI
22,Northrop Grumman,"Atlanta, GA",None,"Perform data entry, cleaning, and analysis (bo...",HAI Prevention Data Analyst
23,Lockheed Martin,"Marietta, GA 30063",None,"Experience with full-scale pole model design, ...",Research Scientist Senior
24,"Eagle Medical Services, LLC","Atlanta, GA",None,Comfortable in collaborating with data scienti...,Data Analyst
25,Cardlytics Corporation,"Atlanta, GA",None,50 concurrent data scientists and analysts. Bu...,Principal Data Engineer
26,Turner,"Atlanta, GA 30319",None,"Has experience with SQL, R, SPSS, Tableau, Pow...","Manager, Consumer Insights & Statistical Analysis"
27,Honeywell,"Atlanta, GA",None,Work closely with data scientists and product ...,Big Data Architect
28,Honeywell,"Atlanta, GA",None,Support and mentor data scientists. Experience...,"Principal Data Scientist - Atlanta, GA"
29,Predictive Science,United States,None,This is a freelance data scientist position wh...,Data Scientist
...,...,...,...,...,...
8866,Amazon Corporate LLC,United States,None,"As a Principal, you will provide leadership to...",Principal Data Scientist - Consumer Website- R...
8867,"Beckman Coulter, Inc.","Miami, FL",None,Assist management in special assignments desig...,Accountant II
8868,Amazon Corporate LLC,United States,None,Computer Science fundamentals in object-orient...,Software Development Engineer – Emerging AWS M...
8869,Altor BioScience Corporation,"Miramar, FL",None,Compile data to support/contribute to technica...,"Associate Scientist, Assay Development"
8870,Predictive Science,United States,None,This is a freelance data scientist position wh...,Data Scientist
8871,HBI,"Miami, FL",None,Topic: Laboratory Testing Patterns/Profitabili...,PhD Level Dissertation Researcher/Writer/Edito...
8872,Chicago Bridge & Iron Company,"Miami Lakes, FL",None,Collection and interpretation/evaluation of sc...,Environmental Scientist
8873,"Beckman Coulter, Inc.","Miami, FL",None,Scientists use our life science research instr...,Manager Finance
8874,Wantman Group,"Fort Lauderdale, FL",None,"Office work – including data management, prepa...",Environmental Scientist - Ft. Lauderdale
8875,Osthus Inc.,"Plantation, FL 33324",None,To translate technical writing into commonly u...,Scientific Domain Modeler (f/m)
8876,"Audible, Inc.",United States,None,Do you enjoy working with Data Scientists to w...,"Software Development Engineer, Data Science- R..."
8877,Amazon Corporate LLC,United States,None,Experience with very large-scale data and the ...,Principal Research Scientist- Relocation Oppor...
8878,Amazon Corporate LLC,United States,None,Are you interested in building data pipelines ...,"Software Development Engineer, Big Data- Reloc..."
8879,Amazon Corporate LLC,United States,None,We specifically seek candidates who want to jo...,"Software Development Engineer, Big Data Analyt..."
8880,"Amazon Web Services, Inc.",United States,None,"Strong at applying data structures, algorithms...",Software Development Engineer - AWS & Machine ...
8881,Amazon Corporate LLC,United States,None,"As a Principal, you will provide leadership to...",Principal Data Scientist - Consumer Website- R...
8882,"Beckman Coulter, Inc.","Miami, FL",None,Assist management in special assignments desig...,Accountant II
8883,Predictive Science,United States,None,This is a freelance data scientist position wh...,Data Scientist
8884,HBI,"Miami, FL",None,Topic: Laboratory Testing Patterns/Profitabili...,PhD Level Dissertation Researcher/Writer/Edito...
8885,Chicago Bridge & Iron Company,"Miami Lakes, FL",None,Collection and interpretation/evaluation of sc...,Environmental Scientist
8886,"Beckman Coulter, Inc.","Miami, FL",None,Scientists use our life science research instr...,Manager Finance
8887,Wantman Group,"Fort Lauderdale, FL",None,"Office work – including data management, prepa...",Environmental Scientist - Ft. Lauderdale
8888,Osthus Inc.,"Plantation, FL 33324",None,To translate technical writing into commonly u...,Scientific Domain Modeler (f/m)
8889,"Audible, Inc.",United States,None,Do you enjoy working with Data Scientists to w...,"Software Development Engineer, Data Science- R..."
8890,Amazon Corporate LLC,United States,None,Experience with very large-scale data and the ...,Principal Research Scientist- Relocation Oppor...
8891,Amazon Corporate LLC,United States,None,Are you interested in building data pipelines ...,"Software Development Engineer, Big Data- Reloc..."
8892,Amazon Corporate LLC,United States,None,We specifically seek candidates who want to jo...,"Software Development Engineer, Big Data Analyt..."
8893,"Amazon Web Services, Inc.",United States,None,"Strong at applying data structures, algorithms...",Software Development Engineer - AWS & Machine ...
8894,Amazon Corporate LLC,United States,None,"As a Principal, you will provide leadership to...",Principal Data Scientist - Consumer Website- R...
8895,"Beckman Coulter, Inc.","Miami, FL",None,Assist management in special assignments desig...,Accountant II

In [38]:
df

,Company,Location,Salary,Summary,Title
0,Cotiviti,"Atlanta, GA",None,This is a pioneering data scientist who will p...,Data Scientist
1,Cox Automotive,"Atlanta, GA",None,Interprets problems and develops solutions to ...,Data Scientist
2,Honeywell,"Atlanta, GA",None,Support and mentor data scientists. Minimum of...,"Principal Data Scientist - Atlanta, GA"
3,FraudScope,"Atlanta, GA",None,Experience with healthcare-related data and fa...,Data Scientist
4,"Vision3 Solutions, Inc","Atlanta, GA",$90 an hour,Data Scientist- Big Data*. May write code to a...,Data Scientist- Big Data
5,"eTek IT Services, Inc.","Atlanta, GA",$67 an hour,Interacts with data scientists and industry ex...,Big Data Engineer
6,Infor,"Atlanta, GA",None,Senior Data Scientist. Working closely with Pr...,Sr. Data Scientist
7,Google,"Atlanta, GA",None,The Google Cloud training team already develop...,"Cloud Instructor (Big Data, Machine Learning),..."
8,IgnitionOne,"Atlanta, GA",None,Have experience with predictive modelling / da...,Data Scientist
9,Macy's,"Atlanta, GA",None,"Uses analytical rigor and statistical methods,...",Data Scientist
10,Pivotal Software,"Atlanta, GA",None,If you bring a deep focus and passion for a pa...,Sr. Data Scientist
11,AT&T,"Alpharetta, GA",None,Perform data studies and data discovery around...,AT&T Professional Data Scientist Alpharetta GA
12,Centers for Disease Control and Prevention,"Atlanta, GA","$88,305 - $114,802 a year",Whether we are protecting the American people ...,Statistician (Health)
13,MobileDev Power,"Atlanta, GA 30305",None,"Authoritative quantitative analysis skills, pa...",Data Scientist With Predictive Modeling
14,Predictive Science,United States,None,This is a freelance data scientist position wh...,Data Scientist
15,MobileDev Power,"Atlanta, GA 30305",None,Build scalable predictive models based on data...,Data Scientist With Predictive Modeling
16,Cox Automotive,"Atlanta, GA",None,Description Cox Automotive is hiring a Data Sc...,Data Scientist
17,Home Depot,"Atlanta, GA 30354",None,Strong communication and data presentation ski...,DATA SCIENTIST
18,ICF,"Atlanta, GA",None,Evaluate data errors and work to resolve data ...,Scientific Data Analyst
19,Ashton212,"Atlanta, GA",None,The Important Stuff A leader in the payments i...,Quantitative Analyst | #769
20,Honeywell,"Atlanta, GA",None,"Advanced analytics/modelling projects, includi...",Analytics DevOps Engineer
21,GE Power,"Atlanta, GA",None,Ability to create and understand data models. ...,IT Project Manager – Sourcing BI
22,Northrop Grumman,"Atlanta, GA",None,"Perform data entry, cleaning, and analysis (bo...",HAI Prevention Data Analyst
23,Lockheed Martin,"Marietta, GA 30063",None,"Experience with full-scale pole model design, ...",Research Scientist Senior
24,"Eagle Medical Services, LLC","Atlanta, GA",None,Comfortable in collaborating with data scienti...,Data Analyst
25,Cardlytics Corporation,"Atlanta, GA",None,50 concurrent data scientists and analysts. Bu...,Principal Data Engineer
26,Turner,"Atlanta, GA 30319",None,"Has experience with SQL, R, SPSS, Tableau, Pow...","Manager, Consumer Insights & Statistical Analysis"
27,Honeywell,"Atlanta, GA",None,Work closely with data scientists and product ...,Big Data Architect
28,Honeywell,"Atlanta, GA",None,Support and mentor data scientists. Experience...,"Principal Data Scientist - Atlanta, GA"
29,Predictive Science,United States,None,This is a freelance data scientist position wh...,Data Scientist
...,...,...,...,...,...
8866,Amazon Corporate LLC,United States,None,"As a Principal, you will provide leadership to...",Principal Data Scientist - Consumer Website- R...
8867,"Beckman Coulter, Inc.","Miami, FL",None,Assist management in special assignments desig...,Accountant II
8868,Amazon Corporate LLC,United States,None,Computer Science fundamentals in object-orient...,Software Development Engineer – Emerging AWS M...
8869,Altor BioScience Corporation,"Miramar, FL",None,Compile data to support/contribute to technica...,"Associate Scientist, Assay Development"
8870,Predictive Science,United States,None,This is a freelance data scientist position wh...,Data Scientist
8871,HBI,"Miami, FL",None,Topic: Laboratory Testing Patterns/Profitabili...,PhD Level Dissertation Researcher/Writer/Edito...
8872,Chicago Bridge & Iron Company,"Miami Lakes, FL",None,Collection and interpretation/evaluation of sc...,Environmental Scientist
8873,"Beckman Coulter, Inc.","Miami, FL",None,Scientists use our life science research instr...,Manager Finance
8874,Wantman Group,"Fort Lauderdale, FL",None,"Office work – including data management, prepa...",Environmental Scientist - Ft. Lauderdale
8875,Osthus Inc.,"Plantation, FL 33324",None,To translate technical writing into commonly u...,Scientific Domain Modeler (f/m)
8876,"Audible, Inc.",United States,None,Do you enjoy working with Data Scientists to w...,"Software Development Engineer, Data Science- R..."
8877,Amazon Corporate LLC,United States,None,Experience with very large-scale data and the ...,Principal Research Scientist- Relocation Oppor...
8878,Amazon Corporate LLC,United States,None,Are you interested in building data pipelines ...,"Software Development Engineer, Big Data- Reloc..."
8879,Amazon Corporate LLC,United States,None,We specifically seek candidates who want to jo...,"Software Development Engineer, Big Data Analyt..."
8880,"Amazon Web Services, Inc.",United States,None,"Strong at applying data structures, algorithms...",Software Development Engineer - AWS & Machine ...
8881,Amazon Corporate LLC,United States,None,"As a Principal, you will provide leadership to...",Principal Data Scientist - Consumer Website- R...
8882,"Beckman Coulter, Inc.","Miami, FL",None,Assist management in special assignments desig...,Accountant II
8883,Predictive Science,United States,None,This is a freelance data scientist position wh...,Data Scientist
8884,HBI,"Miami, FL",None,Topic: Laboratory Testing Patterns/Profitabili...,PhD Level Dissertation Researcher/Writer/Edito...
8885,Chicago Bridge & Iron Company,"Miami Lakes, FL",None,Collection and interpretation/evaluation of sc...,Environmental Scientist
8886,"Beckman Coulter, Inc.","Miami, FL",None,Scientists use our life science research instr...,Manager Finance
8887,Wantman Group,"Fort Lauderdale, FL",None,"Office work – including data management, prepa...",Environmental Scientist - Ft. Lauderdale
8888,Osthus Inc.,"Plantation, FL 33324",None,To translate technical writing into commonly u...,Scientific Domain Modeler (f/m)
8889,"Audible, Inc.",United States,None,Do you enjoy working with Data Scientists to w...,"Software Development Engineer, Data Science- R..."
8890,Amazon Corporate LLC,United States,None,Experience with very large-scale data and the ...,Principal Research Scientist- Relocation Oppor...
8891,Amazon Corporate LLC,United States,None,Are you interested in building data pipelines ...,"Software Development Engineer, Big Data- Reloc..."
8892,Amazon Corporate LLC,United States,None,We specifically seek candidates who want to jo...,"Software Development Engineer, Big Data Analyt..."
8893,"Amazon Web Services, Inc.",United States,None,"Strong at applying data structures, algorithms...",Software Development Engineer - AWS & Machine ...
8894,Amazon Corporate LLC,United States,None,"As a Principal, you will provide leadership to...",Principal Data Scientist - Consumer Website- R...
8895,"Beckman Coulter, Inc.","Miami, FL",None,Assist management in special assignments desig...,Accountant II

In [39]:
df.shape

(8896, 5)

In [40]:
df1 = df.dropna()

In [41]:
df1.shape

(293, 5)

In [42]:
df1.head(4)

,Company,Location,Salary,Summary,Title
4,"Vision3 Solutions, Inc","Atlanta, GA",$90 an hour,Data Scientist- Big Data*. May write code to a...,Data Scientist- Big Data
5,"eTek IT Services, Inc.","Atlanta, GA",$67 an hour,Interacts with data scientists and industry ex...,Big Data Engineer
12,Centers for Disease Control and Prevention,"Atlanta, GA","$88,305 - $114,802 a year",Whether we are protecting the American people ...,Statistician (Health)
37,Centers for Disease Control and Prevention,"Atlanta, GA","$74,260 - $96,538 a year","Identify and apply analytical methods, techniq...",Behavioral Scientist

In [43]:
len(results)

8896

In [44]:
df1.dtypes

Company     object
Location    object
Salary      object
Summary     object
Title       object
dtype: object

In [45]:
df2 = df1.drop_duplicates()

In [46]:
df2.shape

(219, 5)

In [47]:
df2

,Company,Location,Salary,Summary,Title
4,"Vision3 Solutions, Inc","Atlanta, GA",$90 an hour,Data Scientist- Big Data*. May write code to a...,Data Scientist- Big Data
5,"eTek IT Services, Inc.","Atlanta, GA",$67 an hour,Interacts with data scientists and industry ex...,Big Data Engineer
12,Centers for Disease Control and Prevention,"Atlanta, GA","$88,305 - $114,802 a year",Whether we are protecting the American people ...,Statistician (Health)
37,Centers for Disease Control and Prevention,"Atlanta, GA","$74,260 - $96,538 a year","Identify and apply analytical methods, techniq...",Behavioral Scientist
48,Analytic Recruiting,"Alpharetta, GA","$75,000 - $90,000 a year",Junior Data Scientist sought by Fortune 500 co...,Junior Data Scientist
50,Smith Hanley Associates,"Atlanta, GA","$75,000 - $100,000 a year",-Post degree business based experience doing d...,Marketing Statistician
84,Analytic Recruiting,"Atlanta, GA","$100,000 - $125,000 a year","Python, data mining, data science; The data Sc...",Senior Data Scientist
98,Stackfolio,"Atlanta, GA 30308 (Old Fourth Ward area)","$80,000 a year",We are looking for a bright and experienced da...,Lead Data Scientist
129,Analytic Recruiting,"Atlanta, GA","$70,000 - $145,000 a year","Data Scientist, Supply Chain sought by Fortune...",Data Scientist - Supply Chain
130,Emory University,"Atlanta, GA","$85,500 a year",Staff Scientists will have leadership responsi...,Staff Scientist (Goldsmith Lab)
144,Centers for Disease Control and Prevention,"Atlanta, GA","$88,305 - $114,802 a year","Assess data for completeness, accuracy, and qu...",Statistician (Health)
153,CSTE,"Atlanta, GA 30341","$51,706 a year",Skills with developing and presenting epidemio...,Associate Research Analyst
172,SearchBankingJobs,"Atlanta, GA","$150,000 - $205,000 a year",The client is looking for talented individuals...,Lead Quantitative Analyst
184,"eTek IT Services, Inc.","Atlanta, GA",$67 an hour,Yes// Translate data needs into Big Data solut...,Big Data Engineer
203,Emory University,"Atlanta, GA","$69,900 a year","The Medical Image Analysis Scientist, works wi...","Scientist, Med Imag Analysis"
206,DeKalb Workforce Development,"Decatur, GA",$13 - $18 an hour, Develop and maintains accurate field data an...,Engineering Technician
214,Synergy Search Group,"Atlanta, GA","$80,000 a year",Duties will include data conversion from multi...,Audit Snr (Banking) - Data Analysis 60K-80K
279,Georgia Department of Public Health,"Atlanta, GA","$24,000 a year","Under broad supervision, assists technicians a...",Laboratory Aide 3
321,Klein Management Systems,"Atlanta, GA",$57 an hour,Client is looking for Recruiters who have plac...,Recruiter III (Software/IT)
424,Emory University,"Atlanta, GA","$66,700 a year",Responsible for post award processing of grant...,Sponsored Research Financial Analyst
425,Interesse International Inc,"Atlanta, GA","$60,000 - $70,000 a year",Estimate numerical data; Must see through the ...,Market Research & Sales Analyst
755,"NewAgeSys,Inc","Parsippany, NJ","$55,000 a year",Working knowledge of both computer and/or data...,Scientist II (Pfizer)
767,Driversiti,"Rochelle Park, NJ","$100,000 a year",Data Plotting - Visualization libraries such a...,Full-Stack Dev Data Viz - Pythonic Design
784,Scienaptic Systems Inc,"New York, NY","$100,000 a year",We are looking for an energetic and experience...,Data Scientist
801,Wade & Wendy,"New York, NY","$80,000 - $120,000 a year",Our Data Scientist will integrate data from we...,Wade & Wendy_Data Scientist/Engineer
813,"NewAgeSys,Inc","Kenilworth, NJ","$50,000 a year",Analysis and interpretation data. Candidate mu...,Biochemist (Scientist II) Merck
817,Rang Technologies Inc.,"Piscataway, NJ 08854","$80,000 a year",Experience in data visualization and presentat...,Data Scientist
857,Beeswax,"New York, NY","$130,000 - $165,000 a year",A minimum of 5 years experience in Machine lea...,Senior / Director Data Science
859,Real Staffing,"Union, NJ","$166,400 a year",Experience in performing reviews of clinical t...,Clinical Research Scientist
861,Recruiting Resources Co.,"Whippany, NJ",$76.57 an hour,The primary responsibility of the Lead Statist...,Statistical Analyst (SAS)
...,...,...,...,...,...
6457,University of Washington Medical Center,"Seattle, WA","$2,623 - $3,644 a month","Knowledge of UB, HCFA, ADA and other utilized ...",PATIENT FINANCIAL SERVICES SPECIALIST 2
6506,LIBERTY MUTUAL GROUP,"Seattle, WA","$109,900 - $126,100 a year",We are searching for a highly motivated data s...,"Assistant Director, Data Science"
6508,University of Washington,"Seattle, WA","$4,495 - $6,433 a month",Enter patient and Quality Control Data into th...,MEDICAL LABORATORY SCIENTIST 1
6625,University of Washington,"Seattle, WA","$2,417 - $3,192 a month",Demonstrate the ability to input accurate data...,STOCKROOM ATTENDANT 2
6626,University of Washington Medical Center,"Seattle, WA","$4,319 - $6,183 a month",One year of experience as a Medical Laboratory...,MEDICAL LABORATORY SCIENTIST 1 OR TRAINEE
6659,Harvey Nash USA,"Seattle, WA","$120,000 - $130,000 a year","We are looking for talented, ambitious enginee...",Data Scientist - Engineering
6667,University of Washington Medical Center,"Seattle, WA","$3,007 - $4,008 a month",Maintains necessary documentation regarding an...,RECORDS CENTER SPECIALIST
6712,Hunter International,"Cleveland, OH","$60,000 - $80,000 a year",Review data for technical content and good rec...,GC-MS Scientist
6732,Hunter International,"Cleveland, OH","$50,000 - $70,000 a year",QC Associate Scientist. Review data for techni...,Quality Control Scientist
7454,Tampa Bay Water,"Clearwater, FL 33761","$56,963 - $93,989 a year","In addition, the Water Quality Scientist:. Str...",Water Quality Scientist
7456,Moffitt Cancer Center,"Tampa, FL 33612","$100,000 a year","Alan List, an active physician scientist. The ...","Associate Center Director, Population Science"
7459,University of South Florida,"Tampa, FL","$31,000 - $38,000 a year",5033 / Biological Scientist. Data Interpretati...,Biological Scientist
7472,SSG LLC,"Clearwater, FL","$100,000 a year",Advanced data mining:. Experience working with...,Statistical Data Analyst
7528,SRG Life Sciences,"Saint Petersburg, FL",$32 an hour,"Audits and verifies results, including but not...",QC Laboratory investigator/ scientist
8186,University of Miami,"Coral Gables, FL","$53,900 - $65,000 a year",This position interacts with an established gr...,Assistant Scientist/Postdoctoral Associate
8190,The Bachrach Group,"Miami Lakes, FL","$80,000 a year",Experience working with a large amount of data...,Quantitative Financial Analyst
8191,Clarke,"Fort Lauderdale, FL",$10 - $12 an hour,Conduct all assigned field and laboratory expe...,Environmental Science Bioassay Internship
8201,University of Miami,"Coral Gables, FL","$77,600 - $108,600 a year","This position is responsible for planning, imp...",Lead Research Analyst (Biostatistics)
8209,University of Miami,"Coral Gables, FL","$32,900 - $59,100 a year",Ability to analyze data and formulate conclusi...,Research Analyst
8210,University of Miami,"Coral Gables, FL","$40,000 - $72,000 a year",The University of Miami is considered among th...,Sr. Research Analyst / Pre-award Grants
8223,University of Miami,"Coral Gables, FL","$77,600 - $139,600 a year",The Scientist will assist core users in prepar...,Scientist
8234,University of Miami,"Coral Gables, FL","$38,750 - $51,000 a year",The University of Miami is considered among th...,Financial Analyst (Clinical Research Revenue)
8236,Smith Hanley Associates,"Miami, FL","$75,000 - $95,000 a year",Conduct analysis of business data to present i...,Statistical Operations Research Analyst
8237,University of Miami,"Coral Gables, FL","$32,900 a year",Conduct routine data checks to ensure data int...,Statistical Programmer
8239,University of Miami,"Coral Gables, FL","$27,400 - $49,400 a year","Duties may include, but will not be limited to...",(Temporary) Research Laboratory Technician
8267,Staffing Resource Group,"Miami, FL 33186",$23 an hour,"Senior Scientist, Research Scientist, Analytic...",QC Scientist
8282,Morgan Stephens,"Miami, FL","$75,000 - $85,000 a year",Looking for a Legal Librarian that will be res...,Librarian Research Analyst
8337,University of Miami,"Coral Gables, FL","$53,900 - $96,900 a year",Expertise in basic statistical analytic techni...,Assistant Scientist
8344,University of Miami,"Coral Gables, FL","$38,750 - $62,000 a year",Experience with data management and statistica...,(Temporary) Research Analyst
8345,University of Miami,"Coral Gables, FL","$40,000 - $72,000 a year",The University of Miami is considered among th...,Sr. Research Analyst

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [48]:
# combine data into dictionaries
# rows = []
# for result in results:
#     if result:
#         row = {'location': }

# # create dataframe
# import pandas as pd

Lastly, we need to clean up salary data. 

1. Only a small number of the scraped results have salary information - only these will be used for modeling.
1. Some of the salaries are not yearly but hourly or weekly, these will not be useful to us for now
1. Some of the entries may be duplicated
1. The salaries are given as text and usually with ranges.

#### Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

In [49]:
# Filter to only the rows that have salary entries

# Remove duplicates

# Filter out salary entries referring to week, hour or month
df2 = df2[~(df2.Salary.astype('str').str.contains('hour'))]
df2 = df2[~(df2.Salary.astype('str').str.contains('month'))]
df2 = df2[~(df2.Salary.astype('str').str.contains('week'))]

df2.shape

(175, 5)

In [50]:
df2

,Company,Location,Salary,Summary,Title
12,Centers for Disease Control and Prevention,"Atlanta, GA","$88,305 - $114,802 a year",Whether we are protecting the American people ...,Statistician (Health)
37,Centers for Disease Control and Prevention,"Atlanta, GA","$74,260 - $96,538 a year","Identify and apply analytical methods, techniq...",Behavioral Scientist
48,Analytic Recruiting,"Alpharetta, GA","$75,000 - $90,000 a year",Junior Data Scientist sought by Fortune 500 co...,Junior Data Scientist
50,Smith Hanley Associates,"Atlanta, GA","$75,000 - $100,000 a year",-Post degree business based experience doing d...,Marketing Statistician
84,Analytic Recruiting,"Atlanta, GA","$100,000 - $125,000 a year","Python, data mining, data science; The data Sc...",Senior Data Scientist
98,Stackfolio,"Atlanta, GA 30308 (Old Fourth Ward area)","$80,000 a year",We are looking for a bright and experienced da...,Lead Data Scientist
129,Analytic Recruiting,"Atlanta, GA","$70,000 - $145,000 a year","Data Scientist, Supply Chain sought by Fortune...",Data Scientist - Supply Chain
130,Emory University,"Atlanta, GA","$85,500 a year",Staff Scientists will have leadership responsi...,Staff Scientist (Goldsmith Lab)
144,Centers for Disease Control and Prevention,"Atlanta, GA","$88,305 - $114,802 a year","Assess data for completeness, accuracy, and qu...",Statistician (Health)
153,CSTE,"Atlanta, GA 30341","$51,706 a year",Skills with developing and presenting epidemio...,Associate Research Analyst
172,SearchBankingJobs,"Atlanta, GA","$150,000 - $205,000 a year",The client is looking for talented individuals...,Lead Quantitative Analyst
203,Emory University,"Atlanta, GA","$69,900 a year","The Medical Image Analysis Scientist, works wi...","Scientist, Med Imag Analysis"
214,Synergy Search Group,"Atlanta, GA","$80,000 a year",Duties will include data conversion from multi...,Audit Snr (Banking) - Data Analysis 60K-80K
279,Georgia Department of Public Health,"Atlanta, GA","$24,000 a year","Under broad supervision, assists technicians a...",Laboratory Aide 3
424,Emory University,"Atlanta, GA","$66,700 a year",Responsible for post award processing of grant...,Sponsored Research Financial Analyst
425,Interesse International Inc,"Atlanta, GA","$60,000 - $70,000 a year",Estimate numerical data; Must see through the ...,Market Research & Sales Analyst
755,"NewAgeSys,Inc","Parsippany, NJ","$55,000 a year",Working knowledge of both computer and/or data...,Scientist II (Pfizer)
767,Driversiti,"Rochelle Park, NJ","$100,000 a year",Data Plotting - Visualization libraries such a...,Full-Stack Dev Data Viz - Pythonic Design
784,Scienaptic Systems Inc,"New York, NY","$100,000 a year",We are looking for an energetic and experience...,Data Scientist
801,Wade & Wendy,"New York, NY","$80,000 - $120,000 a year",Our Data Scientist will integrate data from we...,Wade & Wendy_Data Scientist/Engineer
813,"NewAgeSys,Inc","Kenilworth, NJ","$50,000 a year",Analysis and interpretation data. Candidate mu...,Biochemist (Scientist II) Merck
817,Rang Technologies Inc.,"Piscataway, NJ 08854","$80,000 a year",Experience in data visualization and presentat...,Data Scientist
857,Beeswax,"New York, NY","$130,000 - $165,000 a year",A minimum of 5 years experience in Machine lea...,Senior / Director Data Science
859,Real Staffing,"Union, NJ","$166,400 a year",Experience in performing reviews of clinical t...,Clinical Research Scientist
877,Harris Allied,"New York, NY 10018 (Clinton area)","$140,000 a year",Very high profile- you will be the point perso...,Quantitative Research/Data Analyst
908,Harnham,"New York, NY","$170,000 a year",Senior Data Scientist - Bio-tech. Senior Data ...,Senior Data Scientist - Bio-tech
969,Selby Jennings,"New York, NY 10167 (Midtown area)","$200,000 - $250,000 a year",Experience working with and managing large dat...,Quantitative Researcher – Machine Learning
984,Harnham,"New York, NY","$200,000 a year",Senior Data Scientist. However this opportunit...,Senior Data Scientist
1010,Averity,"New York, NY","$125,000 - $175,000 a year","Our data science needs are growing quickly, an...",Senior Data Scientist
1082,Averity,"New York, NY","$90,000 - $100,000 a year",Are you a Mid-level Data Scientist looking to ...,Mid-level Data Scientist For Top Travel Company
...,...,...,...,...,...
6025,Philanthropy Northwest,"Seattle, WA 98121 (Belltown area)","$50,000 - $60,000 a year",Conduct research and provide data analysis in ...,"Research Analyst, The Giving Practice"
6055,Dynamic Staffing Inc.,"Seattle, WA","$125,000 a year","Exposure to big data systems (Hadoop, HBASE, H...",Data Scientist-Software Engineer
6132,HERO.Jobs,"Seattle, WA","$160,000 a year","Build big data, machine learning applications ...","Machine Learning Engineer - Big Data, Python, R"
6162,Smith Arnold Partners,"Seattle, WA","$50,000 - $65,000 a year",Growing international custom research supplier...,Research Analyst
6205,All-In Analytics,"Seattle, WA","$150,000 - $175,000 a year","Working with a team of Analysts, Software Deve...",Sr. Global Device Manager
6236,Cutting Edge Medical Diagnostics,"Seattle, WA","$140,000 a year",Data and image analysis using advanced statist...,Sr. Data Scientist / Machine Learning (In-vitr...
6328,State of Washington,"Bellevue, WA","$48,060 - $63,036 a year","Performing field surveys or studies, 2) respon...",TMDL Lead (Environmental Specialist 4)
6427,Lighthouse Recruiting,"Seattle, WA","$90,000 - $100,000 a year",Join our Medical Laboratory Scientists Groups:...,Variant Scientist (Remote)
6506,LIBERTY MUTUAL GROUP,"Seattle, WA","$109,900 - $126,100 a year",We are searching for a highly motivated data s...,"Assistant Director, Data Science"
6659,Harvey Nash USA,"Seattle, WA","$120,000 - $130,000 a year","We are looking for talented, ambitious enginee...",Data Scientist - Engineering
6712,Hunter International,"Cleveland, OH","$60,000 - $80,000 a year",Review data for technical content and good rec...,GC-MS Scientist
6732,Hunter International,"Cleveland, OH","$50,000 - $70,000 a year",QC Associate Scientist. Review data for techni...,Quality Control Scientist
7454,Tampa Bay Water,"Clearwater, FL 33761","$56,963 - $93,989 a year","In addition, the Water Quality Scientist:. Str...",Water Quality Scientist
7456,Moffitt Cancer Center,"Tampa, FL 33612","$100,000 a year","Alan List, an active physician scientist. The ...","Associate Center Director, Population Science"
7459,University of South Florida,"Tampa, FL","$31,000 - $38,000 a year",5033 / Biological Scientist. Data Interpretati...,Biological Scientist
7472,SSG LLC,"Clearwater, FL","$100,000 a year",Advanced data mining:. Experience working with...,Statistical Data Analyst
8186,University of Miami,"Coral Gables, FL","$53,900 - $65,000 a year",This position interacts with an established gr...,Assistant Scientist/Postdoctoral Associate
8190,The Bachrach Group,"Miami Lakes, FL","$80,000 a year",Experience working with a large amount of data...,Quantitative Financial Analyst
8201,University of Miami,"Coral Gables, FL","$77,600 - $108,600 a year","This position is responsible for planning, imp...",Lead Research Analyst (Biostatistics)
8209,University of Miami,"Coral Gables, FL","$32,900 - $59,100 a year",Ability to analyze data and formulate conclusi...,Research Analyst
8210,University of Miami,"Coral Gables, FL","$40,000 - $72,000 a year",The University of Miami is considered among th...,Sr. Research Analyst / Pre-award Grants
8223,University of Miami,"Coral Gables, FL","$77,600 - $139,600 a year",The Scientist will assist core users in prepar...,Scientist
8234,University of Miami,"Coral Gables, FL","$38,750 - $51,000 a year",The University of Miami is considered among th...,Financial Analyst (Clinical Research Revenue)
8236,Smith Hanley Associates,"Miami, FL","$75,000 - $95,000 a year",Conduct analysis of business data to present i...,Statistical Operations Research Analyst
8237,University of Miami,"Coral Gables, FL","$32,900 a year",Conduct routine data checks to ensure data int...,Statistical Programmer
8239,University of Miami,"Coral Gables, FL","$27,400 - $49,400 a year","Duties may include, but will not be limited to...",(Temporary) Research Laboratory Technician
8282,Morgan Stephens,"Miami, FL","$75,000 - $85,000 a year",Looking for a Legal Librarian that will be res...,Librarian Research Analyst
8337,University of Miami,"Coral Gables, FL","$53,900 - $96,900 a year",Expertise in basic statistical analytic techni...,Assistant Scientist
8344,University of Miami,"Coral Gables, FL","$38,750 - $62,000 a year",Experience with data management and statistica...,(Temporary) Research Analyst
8345,University of Miami,"Coral Gables, FL","$40,000 - $72,000 a year",The University of Miami is considered among th...,Sr. Research Analyst

 Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [51]:
import re
import numpy as np
def extract_salary_average(salary_string):
    regex = r'\$([0-9]+,[0-9]+)'   
    matches = re.findall(regex, salary_string)
    return np.mean([float(salary.replace(',', '')) for salary in matches ])
    return matches

In [52]:
l1 = []
for i in df2["Salary"]:
    a = extract_salary_average(i)
    l1.append(a)
    
len(l1 ) 
df2["Salary"] = l1

In [69]:
df2.head(2)

,Company,Location,Salary,Summary,Title,Salary_class
12,Centers for Disease Control and Prevention,"Atlanta, GA",101553.5,Whether we are protecting the American people ...,Statistician (Health),1
37,Centers for Disease Control and Prevention,"Atlanta, GA",85399.0,"Identify and apply analytical methods, techniq...",Behavioral Scientist,1

In [72]:
df2.shape

(175, 6)

In [73]:
df2["Salary"] = df2["Salary"].astype(float)

In [74]:
median_Salary = df2["Salary"].median()

In [75]:
type(median_Salary)

float

In [78]:
df2.dtypes

Company          object
Location         object
Salary          float64
Summary          object
Title            object
Salary_class      int64
dtype: object

In [79]:
df2["Salary_class"] = df2["Salary"].map(lambda x: 1 if x>=median_Salary else 0)

In [80]:
df2

,Company,Location,Salary,Summary,Title,Salary_class
12,Centers for Disease Control and Prevention,"Atlanta, GA",101553.5,Whether we are protecting the American people ...,Statistician (Health),1
37,Centers for Disease Control and Prevention,"Atlanta, GA",85399.0,"Identify and apply analytical methods, techniq...",Behavioral Scientist,0
48,Analytic Recruiting,"Alpharetta, GA",82500.0,Junior Data Scientist sought by Fortune 500 co...,Junior Data Scientist,0
50,Smith Hanley Associates,"Atlanta, GA",87500.0,-Post degree business based experience doing d...,Marketing Statistician,0
84,Analytic Recruiting,"Atlanta, GA",112500.0,"Python, data mining, data science; The data Sc...",Senior Data Scientist,1
98,Stackfolio,"Atlanta, GA 30308 (Old Fourth Ward area)",80000.0,We are looking for a bright and experienced da...,Lead Data Scientist,0
129,Analytic Recruiting,"Atlanta, GA",107500.0,"Data Scientist, Supply Chain sought by Fortune...",Data Scientist - Supply Chain,1
130,Emory University,"Atlanta, GA",85500.0,Staff Scientists will have leadership responsi...,Staff Scientist (Goldsmith Lab),0
144,Centers for Disease Control and Prevention,"Atlanta, GA",101553.5,"Assess data for completeness, accuracy, and qu...",Statistician (Health),1
153,CSTE,"Atlanta, GA 30341",51706.0,Skills with developing and presenting epidemio...,Associate Research Analyst,0
172,SearchBankingJobs,"Atlanta, GA",177500.0,The client is looking for talented individuals...,Lead Quantitative Analyst,1
203,Emory University,"Atlanta, GA",69900.0,"The Medical Image Analysis Scientist, works wi...","Scientist, Med Imag Analysis",0
214,Synergy Search Group,"Atlanta, GA",80000.0,Duties will include data conversion from multi...,Audit Snr (Banking) - Data Analysis 60K-80K,0
279,Georgia Department of Public Health,"Atlanta, GA",24000.0,"Under broad supervision, assists technicians a...",Laboratory Aide 3,0
424,Emory University,"Atlanta, GA",66700.0,Responsible for post award processing of grant...,Sponsored Research Financial Analyst,0
425,Interesse International Inc,"Atlanta, GA",65000.0,Estimate numerical data; Must see through the ...,Market Research & Sales Analyst,0
755,"NewAgeSys,Inc","Parsippany, NJ",55000.0,Working knowledge of both computer and/or data...,Scientist II (Pfizer),0
767,Driversiti,"Rochelle Park, NJ",100000.0,Data Plotting - Visualization libraries such a...,Full-Stack Dev Data Viz - Pythonic Design,1
784,Scienaptic Systems Inc,"New York, NY",100000.0,We are looking for an energetic and experience...,Data Scientist,1
801,Wade & Wendy,"New York, NY",100000.0,Our Data Scientist will integrate data from we...,Wade & Wendy_Data Scientist/Engineer,1
813,"NewAgeSys,Inc","Kenilworth, NJ",50000.0,Analysis and interpretation data. Candidate mu...,Biochemist (Scientist II) Merck,0
817,Rang Technologies Inc.,"Piscataway, NJ 08854",80000.0,Experience in data visualization and presentat...,Data Scientist,0
857,Beeswax,"New York, NY",147500.0,A minimum of 5 years experience in Machine lea...,Senior / Director Data Science,1
859,Real Staffing,"Union, NJ",166400.0,Experience in performing reviews of clinical t...,Clinical Research Scientist,1
877,Harris Allied,"New York, NY 10018 (Clinton area)",140000.0,Very high profile- you will be the point perso...,Quantitative Research/Data Analyst,1
908,Harnham,"New York, NY",170000.0,Senior Data Scientist - Bio-tech. Senior Data ...,Senior Data Scientist - Bio-tech,1
969,Selby Jennings,"New York, NY 10167 (Midtown area)",225000.0,Experience working with and managing large dat...,Quantitative Researcher – Machine Learning,1
984,Harnham,"New York, NY",200000.0,Senior Data Scientist. However this opportunit...,Senior Data Scientist,1
1010,Averity,"New York, NY",150000.0,"Our data science needs are growing quickly, an...",Senior Data Scientist,1
1082,Averity,"New York, NY",95000.0,Are you a Mid-level Data Scientist looking to ...,Mid-level Data Scientist For Top Travel Company,0
...,...,...,...,...,...,...
6025,Philanthropy Northwest,"Seattle, WA 98121 (Belltown area)",55000.0,Conduct research and provide data analysis in ...,"Research Analyst, The Giving Practice",0
6055,Dynamic Staffing Inc.,"Seattle, WA",125000.0,"Exposure to big data systems (Hadoop, HBASE, H...",Data Scientist-Software Engineer,1
6132,HERO.Jobs,"Seattle, WA",160000.0,"Build big data, machine learning applications ...","Machine Learning Engineer - Big Data, Python, R",1
6162,Smith Arnold Partners,"Seattle, WA",57500.0,Growing international custom research supplier...,Research Analyst,0
6205,All-In Analytics,"Seattle, WA",162500.0,"Working with a team of Analysts, Software Deve...",Sr. Global Device Manager,1
6236,Cutting Edge Medical Diagnostics,"Seattle, WA",140000.0,Data and image analysis using advanced statist...,Sr. Data Scientist / Machine Learning (In-vitr...,1
6328,State of Washington,"Bellevue, WA",55548.0,"Performing field surveys or studies, 2) respon...",TMDL Lead (Environmental Specialist 4),0
6427,Lighthouse Recruiting,"Seattle, WA",95000.0,Join our Medical Laboratory Scientists Groups:...,Variant Scientist (Remote),0
6506,LIBERTY MUTUAL GROUP,"Seattle, WA",118000.0,We are searching for a highly motivated data s...,"Assistant Director, Data Science",1
6659,Harvey Nash USA,"Seattle, WA",125000.0,"We are looking for talented, ambitious enginee...",Data Scientist - Engineering,1
6712,Hunter International,"Cleveland, OH",70000.0,Review data for technical content and good rec...,GC-MS Scientist,0
6732,Hunter International,"Cleveland, OH",60000.0,QC Associate Scientist. Review data for techni...,Quality Control Scientist,0
7454,Tampa Bay Water,"Clearwater, FL 33761",75476.0,"In addition, the Water Quality Scientist:. Str...",Water Quality Scientist,0
7456,Moffitt Cancer Center,"Tampa, FL 33612",100000.0,"Alan List, an active physician scientist. The ...","Associate Center Director, Population Science",1
7459,University of South Florida,"Tampa, FL",34500.0,5033 / Biological Scientist. Data Interpretati...,Biological Scientist,0
7472,SSG LLC,"Clearwater, FL",100000.0,Advanced data mining:. Experience working with...,Statistical Data Analyst,1
8186,University of Miami,"Coral Gables, FL",59450.0,This position interacts with an established gr...,Assistant Scientist/Postdoctoral Associate,0
8190,The Bachrach Group,"Miami Lakes, FL",80000.0,Experience working with a large amount of data...,Quantitative Financial Analyst,0
8201,University of Miami,"Coral Gables, FL",93100.0,"This position is responsible for planning, imp...",Lead Research Analyst (Biostatistics),0
8209,University of Miami,"Coral Gables, FL",46000.0,Ability to analyze data and formulate conclusi...,Research Analyst,0
8210,University of Miami,"Coral Gables, FL",56000.0,The University of Miami is considered among th...,Sr. Research Analyst / Pre-award Grants,0
8223,University of Miami,"Coral Gables, FL",108600.0,The Scientist will assist core users in prepar...,Scientist,1
8234,University of Miami,"Coral Gables, FL",44875.0,The University of Miami is considered among th...,Financial Analyst (Clinical Research Revenue),0
8236,Smith Hanley Associates,"Miami, FL",85000.0,Conduct analysis of business data to present i...,Statistical Operations Research Analyst,0
8237,University of Miami,"Coral Gables, FL",32900.0,Conduct routine data checks to ensure data int...,Statistical Programmer,0
8239,University of Miami,"Coral Gables, FL",38400.0,"Duties may include, but will not be limited to...",(Temporary) Research Laboratory Technician,0
8282,Morgan Stephens,"Miami, FL",80000.0,Looking for a Legal Librarian that will be res...,Librarian Research Analyst,0
8337,University of Miami,"Coral Gables, FL",75400.0,Expertise in basic statistical analytic techni...,Assistant Scientist,0
8344,University of Miami,"Coral Gables, FL",50375.0,Experience with data management and statistica...,(Temporary) Research Analyst,0
8345,University of Miami,"Coral Gables, FL",56000.0,The University of Miami is considered among th...,Sr. Research Analyst,0

In [ ]:
#salary_data['high_salary'] = salary_data['salary'].map(lambda x: 1 if x >= medianSalary else 0)

In [57]:
# use '.map' to transform salary to new feature

SyntaxError: invalid syntax (<ipython-input-57-8b0a17d9170d>, line 3)

In [84]:
# save scraped results as a CSV for Tableau/external viz
df2.to_csv('indeed salary_file',sep='\t', encoding='utf-8')

## Predicting salaries using Logistic Regression

In [ ]:
# load in the the data of scraped salaries

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

In [ ]:
# calculate median and create feature with 1 as high salary

### Q: What is the baseline accuracy for this model?

It is 50% if we guess randomly, half the salaries will be below the median and half will be above.

#### Create a Logistic Regression model to predict High/Low salary using statsmodel. Start by ONLY using the location as a feature. Display the coefficients and write a short summary of what they mean.

In [ ]:
# create statsmodel and summary
import statsmodels.formula.api as sm

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' or 'Manager' is in the title 
- Then build a new Logistic Regression model with these features. Do they add any value?

In [ ]:
# create senior, director, and manager dummies
salary_data['is_senior'] = salary_data['title'].str.contains('Senior').astype(int) # example

#### Rebuild this model with scikit-learn.
- You can either create the dummy features manually or use the `dmatrix` function from `patsy`
- Remember to scale the feature variables as well!

In [ ]:
# scale, (patsy optional), and fit
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from patsy import dmatrix

scaler = StandardScaler()
model = LogisticRegression(penalty = 'l2', C=0.1)

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy, AUC, precision and recall of the model. 
- Discuss the differences and explain when you want a high-recall or a high-precision model in this scenario.

In [ ]:
from sklearn.cross_validation import cross_val_score

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']: # example

### Compare L1 and L2 regularization for this logistic regression model. What effect does this have on the coefficients learned?

In [ ]:
model = LogisticRegression(penalty = 'l1', C=1.0)

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:

In [ ]:
model.fit(X_scaled, y)

df = pd.DataFrame({'features' : X.design_info.column_names, 'coef': model.coef_[0,:]})
df.sort_values('coef', ascending=False, inplace=True)
df

#### Optional: Continue to incorporate other text features from the title or summary that you believe will predict the salary and examine their coefficients. Take ~100 scraped entries with salaries. Convert them to use with your model and predict the salary. Which entries have the highest predicted salaries?

# Bonus Section: Use Count Vectorizer from scikit-learn to create features from the text summaries. 
- Examine using count or binary features in the model
- Re-evaluate the logistic regression model using these. Does this improve the model performance? 
- What text features are most valuable?

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
X = vectorizer.fit_transform()

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:
    scores = cross_val_score(model, X_scaled, y, cv=3, scoring=metric)
    print(metric, scores.mean(), scores.std())

In [ ]:
model.fit(X_scaled, y)

df = pd.DataFrame({'features' : vectorizer.get_feature_names(), 'coef': model.coef_[0,:]})
df.sort_values('coef', ascending=False, inplace=True)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
# retest L1 and L2 regularization
from sklearn.linear_model import LogisticRegressionCV

model = LogisticRegressionCV()

Score: | /24
------|-------
Identify: Problem Statement and Hypothesis | 
Acquire: Import Data using BeautifulSoup| 
Parse: Clean and Organize Data| 
Model: Perform Logistic Regression| 
Evaluate: Logistic Regression Results	|
Present: Blog Report with Findings and Recommendations		| 
Interactive Tableau visualizations | 
Regularization |
Bonus: Countvectorizer  |